
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html, body {
    @apply bg-light text-dark dark:bg-dark dark:text-light;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;

  
    scrollbar-width: none;
  
    -ms-overflow-style: none;
  }


  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px #fff, 
                 0 0 20px #fff, 
                 0 0 40px #07beb8, 
                 0 0 70px #07beb8, 
                 0 0 80px #07beb8;
  }
  .text-glow-white {
    text-shadow: 
      0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.6),
      0 0 35px rgba(255, 255, 255, 0.4),
      0 0 50px rgba(255, 255, 255, 0.2);
  }
  @keyframes slow-pan {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #07beb8; 
  border-radius: 10px;
  border: 2px hidden #2d2a32; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #7beb8; 
  border-color: #1f1d24; 
}
.animate-slow-pan {
  animation: slow-pan 25s ease infinite;
}
@keyframes aurora {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-aurora {

  animation: aurora 20s ease infinite;
}
}